
@{
    ViewBag.Title = "Reports";
}

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>
    
    // add pointer to home page
  $(document).ready(function() {
      $('#reportsTable tr:first').css('font-weight', 'bold');
  });

</script>

<h2>Reports</h2>

<body>
    <table id="reportsTable" class="table">
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
        </tr>
    </table>
</body>