@model IEnumerable<AussieDivers.Models.Person>

@using GridMvc.Html;
@{
    ViewBag.Title = "Reports";
}

    <h2>Reports</h2>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(person => person.PersonFirstName).Titled("First Name").Sortable(true);
    columns.Add(person => person.PersonLastName).Titled("Last Name").Sortable(true);
})