@{
    ViewBag.Title = "Home Page";
}

<head>
    <style>
        div.column{
            float:right;
            /*border:2px solid black;*/
            width:300px;
            min-height:600px;
            height:auto;
            height:600px;
            margin:10px;
            text-align:center;

        }
        div.body{
            float:left;
            
        }
      h3{
          
      }
    </style>
</head>

<div class="body">
    <h2>This is the home Page!!!!!</h2>
</div>

<div class="column">
    <h3>Upcoming Schedule</h3>
</div>