@{
    ViewBag.Title = "Home Page";
}

<head>
    <style>
        div.column{
            float:right;
            border:2px
        }
    </style>
</head>

<div class="jumbotron">
    <h2>This is the home Page!!!!!</h2>
</div>

<div class="column">
    <h3>Events</h3>
</div>