
@model IEnumerable<AussieDivers.Models.Person>
@using GridMvc.Html;
@{
    ViewBag.Title = "Home Page";
 }


<head>
    <style>
        div.column{
            float:right;
            /*border:2px solid black;*/
            width:300px;
            min-height:600px;
            height:auto;
            height:600px;
            margin:10px;
            text-align:center;

        }
        div.body{
            float:left;
            
        }
      h3{
          
      }
    </style>
</head>

<div class="body">
    <h2>This is the home Page!!!!!</h2>
</div>

<div class="column">
    <h3>Upcoming Schedule</h3>
</div>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(person => person.PersonFirstName).Titled("First Name").Sortable(true);
    columns.Add(person => person.PersonLastName).Titled("Last Name").Sortable(true);
})