@model IEnumerable<TestMVCSite.Models.Person>

@using GridMvc.Html;

@{
    ViewBag.Title = "Index";
}

<h2>Customers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(person => person.PersonFirstName).Titled("First Name").Sortable(true);
    columns.Add(person => person.PersonLastName).Titled("Last Name").Sortable(true);
    columns.Add(person => person.PersonEmail).Titled("Email");

    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(person => Html.ActionLink("Edit", "Edit", new { id = person.PersonID }));
})